{:logger.instance/timbre {:log-file nil
                          :level [["raid-boss.*" :trace] ["*" :debug]]}

 :datalog/schema {:idents [;; Guild fields
                           {:db/ident :guild/id
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/identity}
                           {:db/ident :guild/command-version
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :guild/notify-channel
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :guild/quarantine-role
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :guild/actions
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}
                           {:db/ident :guild/role
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}
                           {:db/ident :guild/blacklist
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}
                           {:db/ident :guild/invite
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}
                           {:db/ident :guild/member
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}
                           {:db/ident :guild/join-group
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many
                            :db/isComponent true}

                           ;; Actions
                           {:db/ident :action/when
                            :db/valueType :db.type/keyword
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :action/do
                            :db/valueType :db.type/keyword
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :action/for
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}

                           ;; Role fields
                           {:db/ident :role/id
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/identity}
                           {:db/ident :role/permissions
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}

                           ;; Blacklist fields
                           {:db/ident :blacklist/id
                            :db/valueType :db.type/uuid
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :blacklist/type
                            :db/valueType :db.type/keyword
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :blacklist/pattern
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}

                           ;; Invite fields
                           {:db/ident :invite/code
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/identity}
                           {:db/ident :invite/count
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :invite/author
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :invite/suppress-until
                            :db/valueType :db.type/instant
                            :db/cardinality :db.cardinality/one}

                           ;; Member fields
                           {:db/ident :member/id
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/username
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/join-date
                            :db/valueType :db.type/instant
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/invite
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/ham
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/spam
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/action-taken?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/action-requested?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :member/ban-appealed?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}

                           ;; Join group fields
                           {:db/ident :join-group/start-time
                            :db/valueType :db.type/instant
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :join-group/last-active
                            :db/valueType :db.type/instant
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :join-group/take-action?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :join-group/member
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many}
                           {:db/ident :join-group/invite-link
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :join-group/action-requested?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}]

                  :entities [{:db/ident :guild/guard
                              :db.entity/attrs [:guild/id]}
                             {:db/ident :role/guard
                              :db.entity/attrs [:role/id :role/can-ban?]}
                             {:db/ident :blacklist/guard
                              :db.entity/attrs [:blacklist/id :blacklist/type :blacklist/pattern]}
                             {:db/ident :invite/guard
                              :db.entity/attrs [:invite/code :invite/count :invite/author]}
                             {:db/ident :member/guard
                              :db.entity/attrs [:member/id :member/join-date]}
                             {:db/ident :action/guard
                              :db.entity/attrs [:action/when :action/do]}
                             {:db/ident :join-group/guard
                              :db.entity/attrs [:join-group/start-time :join-group/last-active
                                                :join-group/spam-count :join-group/member]}]}

 :datalog.db/datahike {:db-config {:store {:backend :file
                                           :path "/tmp/raid-boss/db"}
                                   :name "raid-boss"
                                   :schema-flexibility :write
                                   :keep-history? false}
                       :schema #ig/ref :datalog/schema}

 :discord.bot/token {:source :file
                     :path "token.txt"}

 :discord.bot.intent/guilds :guilds
 :discord.bot.intent/guild-bans :guild-bans
 :discord.bot.intent/guild-members :guild-members
 :discord.bot.intent/guild-messages :guild-messages
 :discord.bot.intent/guild-invites :guild-invites

 :discord.event/interaction-create {:name :interaction-create}
 :discord.event/guild-create {:name :guild-create
                              :intents [#ig/ref :discord.bot.intent/guilds]}
 :discord.event/guild-delete {:name :guild-delete
                              :intents [#ig/ref :discord.bot.intent/guilds]}
 :discord.event/guild-member-add {:name :guild-member-add
                                  :intents [#ig/ref :discord.bot.intent/guild-members]}
 :discord.event/guild-member-update {:name :guild-member:add
                                     :intents [#ig/ref :discord.bot.intent/guild-members]}
 :discord.event/invite-create {:name :invite-create
                               :intents [#ig/ref :discord.bot.intent/guild-invites]}
 :discord.event/guild-ban-remove {:name :guild-ban-remove
                                  :intents [#ig/ref :discord.bot.intent/guild-bans]}
 :discord.event/guild-role-create {:name :guild-role-create
                                   :intents [#ig/ref :discord.bot.intent/guilds]}
 :discord.event/guild-role-update {:name :guild-role-create
                                   :intents [#ig/ref :discord.bot.intent/guilds]}
 :discord.event/guild-role-delete {:name :guild-role-create
                                   :intents [#ig/ref :discord.bot.intent/guilds]}
 :discord.event/message-create {:name :message-create
                                :intents [#ig/ref :discord.bot.intent/guild-messages]}
 :discord.event/message-update {:name :message-update
                                :intents [#ig/ref :discord.bot.intent/guild-messages]}

 :discord.connection/event-channel {:size 1000}
 :discord.connection/messaging {:token #ig/ref :discord.bot/token
                                :logger #ig/ref :logger/instance}
 :discord.connection/gateway {:intents #ig/refset :discord.bot/intent
                              :token #ig/ref :discord.bot/token
                              :channel #ig/ref :discord.connection/event-channel
                              :logger #ig/ref :logger/instance}

 :raid-boss/event-handler {:event-handlers #ig/refset :raid-boss/event}
 :raid-boss/command-handler {:command-handlers #ig/refset :raid-boss/command}

 :raid-boss.event/perform-slash-command
 {:events [#ig/ref :discord.event/interaction-create]
  :db #ig/ref :datalog/db
  :messaging #ig/ref :discord.connection/messaging
  :handler-fn #ig/ref :raid-boss/command-handler}

 :raid-boss.event/update-guild-state
 {:events [#ig/ref :discord.event/guild-create]
  :db #ig/ref :datalog/db
  :messaging #ig/ref :discord.connection/messaging
  :gateway #ig/ref :discord.connection/gateway
  :commands #ig/refset :raid-boss/command
  :command-version 1
  :handler-fn raid-boss.events/update-guild-state}

 :raid-boss.event/delete-guild
 {:events [#ig/ref :discord.event/guild-delete]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/delete-guild}

 :raid-boss.event/process-new-user
 {:events [#ig/ref :discord.event/guild-member-add]
  :db #ig/ref :datalog/db
  :messaging #ig/ref :discord.connection/messaging
  :handler-fn raid-boss.events/process-new-user}

 :raid-boss.event/record-unquarantined-users
 {:events [#ig/ref :discord.event/guild-member-update
           #ig/ref :discord.event/guild-ban-remove]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/record-unquarantined-user}

 :raid-boss.event/update-admin-roles
 {:events [#ig/ref :discord.event/guild-role-create
           #ig/ref :discord.event/guild-role-update]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/update-admin-roles}

 :raid-boss.event/delete-role
 {:events [#ig/ref :discord.event/guild-role-delete]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/delete-role}

 :raid-boss.event/record-spam-ham-messages
 {:events [#ig/ref :discord.event/message-create
           #ig/ref :discord.event/message-update]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/record-messages}

 :raid-boss.command/blacklist
 {:name "blacklist"
  :description "Blacklist users with certain names from joining the server."
  :options [{:type 2
             :name "add"
             :description "Add a new pattern of username to blacklist from joining the server."
             :options [{:type 1
                        :name "regex"
                        :description "Ban all users whose name matches a regex, and prevent more from joining."
                        :options [{:type 3
                                   :name "pattern"
                                   :required true
                                   :description "A Java regex Pattern to match the whole name."}]}
                       {:type 1
                        :name "text"
                        :description "Ban all users whose name exactly matches some text, and prevent more from joining."
                        :options [{:type 3
                                   :name "pattern"
                                   :required true
                                   :description "A string of text to match the name case-insensitively."}]}]}
            {:type 1
             :name "view"
             :description "List all the existing blacklist patterns."
             :options []}]
  :permissions #{:ban-members}
  :handler-fn raid-boss.commands/blacklist}

 :raid-boss.command/configure
 {:name "configure"
  :description "Update the server's configuration"
  :options [{:type 1
             :name "notification-channel"
             :description "Change which channel is used to notify administrators of raid activity."
             :options [{:type 7
                        :name "channel"
                        :description "The channel where notifications occur, none if left out."}]}]
  :permissions #{:manage-guild}
  :handler-fn raid-boss.commands/configure}

 :discord.bot/application {:event-channel #ig/ref :discord.connection/event-channel
                           :handler #ig/ref :raid-boss/event-handler
                           :logger #ig/ref :logger/instance}}
