{:logger.instance/timbre {:log-file nil
                          :level [["raid-boss.*" :trace] ["*" :debug]]}

 :datalog/schema {:idents [;; Guild fields
                           {:db/ident :guild/id
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/value}

                           ;; Role fields
                           {:db/ident :guild/role
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many}
                           {:db/ident :role/id
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/value}
                           {:db/ident :role/can-ban?
                            :db/valueType :db.type/boolean
                            :db/cardinality :db.cardinality/one}

                           ;; Blacklist fields
                           {:db/ident :guild/blacklist
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many}
                           {:db/ident :pattern/type
                            :db/valueType :db.type/keyword
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :pattern/buffer
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :blacklist/index
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}

                           ;; Invite fields
                           {:db/ident :guild/invite
                            :db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many}
                           {:db/ident :invite/count
                            :db/valueType :db.type/long
                            :db/cardinality :db.cardinality/one}
                           {:db/ident :invite/code
                            :db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one
                            :db/unique :db.unique/value}]

                  :entities [{:db/ident :guild/guard
                              :db.entity/attrs [:guild/id]}
                             {:db/ident :role/guard
                              :db.entity/attrs [:role/id :role/can-ban?]}
                             {:db/ident :blacklist/guard
                              :db.entity/attrs [:pattern/index :pattern/type :pattern/buffer]}
                             {:db/ident :invite/guard
                              :db.entity/attrs [:invite/code :invite/count]}]}

 :datalog.db/datahike {:db-config {:store {:backend :file
                                           :path "/tmp/raid-boss/db"}
                                   :name "raid-boss"
                                   :schema-flexibility :write
                                   :keep-history? false}
                       :schema #ig/ref :datalog/schema}

 :discord.bot/token {:source :file
                     :path "token.txt"}

 :discord.bot.intent/guilds :guilds
 :discord.bot.intent/guild-members :guild-members
 :discord.bot.intent/guild-invites :guild-invites

 :discord.event/interaction-create {:name :interaction-create}
 :discord.event/guild-create {:name :guild-create
                              :intent #ig/ref :discord.bot.intent/guilds}
 :discord.event/guild-delete {:name :guild-delete
                              :intent #ig/ref :discord.bot.intent/guilds}
 :discord.event/guild-member-add {:name :guild-member:add
                                  :intent #ig/ref :discord.bot.intent/guild-members}
 :discord.event/invite-create {:name :invite-create
                               :intent #ig/ref :discord.bot.intent/guild-invites}
 :discord.event/guild-role-create {:name :guild-role-create
                                   :intent #ig/ref :discord.bot.intent/guilds}
 :discord.event/guild-role-update {:name :guild-role-create
                                   :intent #ig/ref :discord.bot.intent/guilds}
 :discord.event/guild-role-delete {:name :guild-role-create
                                   :intent #ig/ref :discord.bot.intent/guilds}

 :discord.connection/event-channel {:size 1000}
 :discord.connection/messaging {:token #ig/ref :discord.bot/token
                                :logger #ig/ref :logger/instance}
 :discord.connection/gateway {:intents #ig/refset :discord.bot/intent
                              :token #ig/ref :discord.bot/token
                              :channel #ig/ref :discord.connection/event-channel
                              :logger #ig/ref :logger/instance}

 :raid-boss/event-handler {:event-handlers #ig/refset :raid-boss/event}
 :raid-boss/command-handler {:command-handlers #ig/refset :raid-boss/command}

 :raid-boss.event/perform-slash-command
 {:events [#ig/ref :discord.event/interaction-create]
  :db #ig/ref :datalog/db
  :messaging #ig/ref :discord.connection/messaging
  :handler-fn #ig/ref :raid-boss/command-handler}

 :raid-boss.event/update-guild-interactions-and-roles
 {:events [#ig/ref :discord.event/guild-create
           #ig/ref :discord.event/guild-delete]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/update-guild-state}

 :raid-boss.event/track-invite-use
 {:events [#ig/ref :discord.event/guild-member-add]
  :messaging #ig/ref :discord.connection/messaging
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/track-invite-use}

 :raid-boss.event/ban-blacklisted-users
 {:events [#ig/ref :discord.event/guild-member-add]
  :db #ig/ref :datalog/db
  :handler-fn raid-boss.events/ban-blacklisted-user-on-join}

 :raid-boss.event/update-admin-roles
 {:events [#ig/ref :discord.event/guild-role-create
           #ig/ref :discord.event/guild-role-update
           #ig/ref :discord.event/guild-role-delete]
  :handler-fn raid-boss.events/update-admin-roles}

 :discord.bot/application {:event-channel #ig/ref :discord.connection/event-channel
                           :handler #ig/ref :raid-boss/event-handler
                           :logger #ig/ref :logger/instance}}
